__pycache__
*parsing.py
.Rhistory
.DS_Store
*.docx
*.csv
*_PL_goal_difference_per_match.pdf
_PL_home_team_goal_difference_per_match.pdf
*_PL_goals_per_match.pdf
*_PL_goal_times.pdf
*_PL_goal_difference_by_week.pdf
*_PL_league_points_by_week.pdf
_PL_league_positions_by_week.pdf
*_PL_total_goals_by_week.pdf
plot_league_goals_vb.py
plot_league_points_vb.py
plot_home_team_goal_difference_v1.1.1.py
report_ECR_comments.pdf
TODO.rtf